
.main-productos{
    background-color: aqua;
    display: flex;
}

div .titulo-producto{
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 10px;
    padding: 10px 10px;
    font-size: 30px;
    text-align: center;
    color: black;
}    

main{
    .main-productos{
        background-color: aqua;
        display: flex;
    }.productos-galeria{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
        margin-top: 10px;
        margin-left: 10px;
    }
    img{
        height: 300px;
        width: 300px;
        padding: 5px 5px;
        margin: 15px 15px;
        background-color: black;
        border-radius: 5px;
    }
    

}
