@import "index";
@import "productos";
@import "nosotros";
@import "encontranos";
@import "ayuda";


@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Heebo:wght@300;400;700&family=Roboto+Mono:ital,wght@1,300&family=Ubuntu:wght@400;500;700&display=swap');


*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Vollkorn', serif;
}

body{
    background-color:#d2d9e2;
    a{
        text-decoration: none;
        color: black;
        font-size: 700;
        font-family: 'Heebo', sans-serif;
    }
}


.Nombre{
    font-family: 'Heebo', sans-serif;
}

$font-tittle: 'Heebo', sans-serif;




/* Productos */


/* nosotros */


/* encontranos */


footer div{
   background-color: rgb(180, 132, 41);
   display: flex;
   padding: 20px;
   justify-content:space-around
}

footer div ul{
    display: flex;
    padding: 5px;
    flex-direction: row;
    list-style: none;
}
 
footer .logos-redes .img-twitter{
    width: 30px;
    height: 30px;
    margin: 5px;
}

footer .logos-redes .img-instagram{
    width: 50px;
    height: 30px;
    margin: 5px;

}

footer .logos-redes .img-whatsapp{
    width: 30px;
    height: 30px;
    margin: 5px;
}


 /* media q */ 

@media only screen and (max-width: 768px){

}

@media only screen and (max-width: 576px){
    header{
        flex-direction: column;
        padding: 0px 10px;
        margin-top: 5px;
    }
    header img{
        padding-top: 7px;
    }

    iframe{
        width: 100%;
    }
}