@import "index";
@import "productos";
@import "nosotros";
@import "encontranos";
@import "ayuda";


@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Heebo:wght@300;400;700&family=Roboto+Mono:ital,wght@1,300&family=Ubuntu:wght@400;500;700&display=swap');


*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Vollkorn', serif;
}

body{
    background-color:#d2d9e2;
    a{
        text-decoration: none;
        color: black;
        font-size: 700;
        font-family: 'Heebo', sans-serif;
    }
}


$font-tittle: 'Heebo', sans-serif;

header{
    background-color:#8a8e95;
    .navbar-collapse{
        justify-content: flex-end;
        }
        .nav-item{
            display: flex;
            align-items: center;
        }
        .nav-link{
            a{
                font-family: 'Ubuntu', sans-serif;
            }
        }
    }
    
/* Productos */


/* nosotros */


/* encontranos */


footer{
    .img-twitter{
        width: 30px;
        height: 30px;
        margin: 5px;
    }
    .img-instagram{
        width: 50px;
        height: 30px;
        margin: 5px;
    }
    .img-whatsapp{
        width: 30px;
        height: 30px;
        margin: 5px;
    }
    div{
        background-color: rgb(180, 132, 41);
        display: flex;
        padding: 20px;
        justify-content:space-around}
        ul{
            display: flex;
            padding: 5px;
            flex-direction: row;
            list-style: none;
        }
}


 /* media q */ 

@media only screen and (max-width: 768px){

}

@media only screen and (max-width: 576px){
    header{
        flex-direction: column;
        padding: 0px 10px;
        margin-top: 5px;
    }
    header img{
        padding-top: 7px;
    }

    iframe{
        width: 100%;
    }
}